/*This is the PencilRevived theme, created by infinitytec.
It is protected under the MIT License:
Copyright 2018 infinitytec
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. 
This theme is still a work-in-progress. */      
@import url('https://fonts.googleapis.com/css?family=Quicksand');
      /*The Quicksand font is licensed under the Open Font License. Learn more: http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL_web*/

      @media screen {
        html,
        body,
        main {
          margin: 0;
          padding: 0;
          font-family: Quicksand;
        }
        .box a.big {
          font-size: 2em;
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 1em;
          text-decoration: underline;
          transition: all 0.2s ease-in-out;
          width: calc(100% - 2em);
          color: white;
        }
        .box a.big:hover {
          letter-spacing: 2px;
          background: white;
          color: black;
        }
        .box {
          padding: 1em 2em;
          width: calc(25% - 2em);
          margin: 1em;
          display: inline-block;
          box-sizing: border-box;
          font-size: 10pt;
          transition: all 0.2s ease-in-out;
          border-radius: 0.5em;
          position: relative;
          border: 0px solid white;
        }
        .fancy:hover {
          /*box-shadow: 0px 10px 10px #11111155;*/
          background: #f34234;
          border: 3px solid white;
          padding: calc(1em - 3px) calc(2em - 3px);
        }
        .red {
          background: #ef3e30;
          color: white;
        }
        .orange {
          background: #e9893c;
          color: white;
        }
        .blue {
          background: #239be9;
          color: white;
        }
        .grey {
          background: #4a4947;
          color: white;
        }
        .green {
          background: #34995d;
          color: white;
        }
        .full {
          width: calc(100% - 60pt);
          padding: 10pt 30pt;
          margin: 0;
          font-size: 0;
          text-align: center;
        }
        .box.full {
          font-size: 10pt;
          margin-bottom: 1em;
        }
        .products .red {
          vertical-align: top;
          height: 20em;
        }
        section {
          height: auto;
          min-height: 20em;
        }
        section.products {
          padding: 45pt;
          width: calc(100% - 90pt);
        }
        section h1 {
          font-size: 20pt;
        }
        section p {
          font-size: 10pt;
        }
        nav {
          position: sticky;
          top: -5em;
          background: #ef3e30;
          padding: 0.5em 5em;
          width: calc(100% - 10em);
          color: white;
          z-index: 1;
          transition: all 0.2s ease-in-out;
        }
        nav:hover {
          top: 0;
          box-shadow: 0px 10px 10px #11111155;
        }
        nav a:hover,
        button.close:hover {
          background: white;
          color: #ef3e30;
        }
        button.close {
          position: absolute;
          right: 0.5em;
          top: 0.5em;
        }
        nav a, button.close {
          border: 2px solid white;
          font-family: Quicksand;
        }
        nav button.hamburger {
          padding: .3em .2em .05em .2em !important;
margin: 0;
              border: 2px solid transparent;
              position: relative;
              top: 5px;
        }
            nav button.hamburger img {
                  height: 1.5em;
            }
            nav button.hamburger:hover {
                  border: 2px solid white;
            }
        nav h1,
        nav a,
        nav button,
        button.close {
          color: white;
          display: inline-block;
          padding: 0.25em 1em;
          font-weight: bold;
          font-size: 1.5em;
          text-decoration: none;
          transition: all 0.2s ease-in-out;
          border-radius: 0.5em;
          background: transparent;
        }
        #navmenu {
          display: block;
          transition: all 0.2s ease-in-out;
          height: 0em;
          position: sticky;
          top: 0;
          overflow: hidden;
          background: #ef3e30;
          min-height: 0;
        }
        #navmenu.show {
          min-height: 3em;
        }
        #alert {
          position: fixed;
          bottom: 1em;
          left: 10%;
          padding: 1em;
          background: #ef3e30;
          border-radius: 0.5em;
          width: calc(80% - 2em);
          color: white;
          max-height: 50%;
          border: 2px solid white;
          overflow-y: auto;
          transition: all 0.2s ease-in-out;
          box-shadow: 0px 10px 10px #11111155;
        }
        #alert.hide {
          padding: 0;
          height: 0;
          max-height: 0;
          bottom: -50em;
          display: none;
        }
        p.text,
        p.text a {
          color: inherit;
          border-radius: 0.5em;
          padding: 1em;
          width: calc(100% - 2em);
          text-align: left;
          font-size: 1em;
        }
        p.text a {
          text-decoration: underline;
          padding: 0;
          margin: 0;
          transition: all 0.2s ease-in-out;
          border-radius: 3pt;
        }
        p.text a:hover {
          text-decoration: none;
          background: white;
          color: black;
        }
        @media screen and (min-width: 100em) {
          #descriptions .box {
            width: calc(50% - 4em);
            margin: 1em;
            min-height: 16em;
            float: left;
          }
          section#descriptions {
            overflow: hidden;
          }
        }
        @media screen and (max-width: 75em) {
          .products .box {
            width: calc(50% - 2em);
          }
          @media screen and (max-width: 50em) {
            nav {
              top: 0;
              width: calc(100% - 2em);
              padding: 0.5em 1em;
              box-shadow: 0px 5px 5px #11111155;
            }
            .products .box {
              width: calc(100% - 0em);
              margin: 1em 0em;
            }
            section.products,
            .full {
              padding: 10pt;
              width: calc(100% - 20pt);
            }
          }
